* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Andika', sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5ebe0;
}
.container {
  border: 1px solid silver;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
h1 {
  text-align: center;
}
.display {
  margin: 20px 0px;
}
input {
  text-align: right;
  background: #e2dddd;
  padding: 10px;
}
input, button {
  border: 0px;
  outline: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
section {
  background: #e2dddd;
}
section div {
  display: flex;
  flex-wrap: wrap;
}
.clear {
  margin: -10px 0px;
  background: #d4cece;
}
.clear button {
  font-size: 1.1rem;
  transition: .6s;
}
button {
  flex: 1 1 33.333%;
  margin: 10px 0px;
  padding: 8px;
  cursor: pointer;
  background: transparent;
  transition: .5s;
}
button:hover {
  background: #d4cece;
}
.clear button:hover {
  transform: translateY(-3px);
}
